<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MVCPatternModel2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>webController</servlet-name>
  	<servlet-class>kr.or.ddit.base.controller.WebController</servlet-class>
  	<load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>webController</servlet-name>
	<url-pattern>*.do</url-pattern>  
  </servlet-mapping>
  
  <!-- 
  	세션타임아웃
  	글로벌 에러처리
  	상서선언
  	필터
  	리스너
  	.....
   -->
  
  <servlet>
  	<servlet-name>tiles</servlet-name>
  	<servlet-class>org.apache.tiles.web.startup.TilesServlet</servlet-class>
  	<init-param>
  		<param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
  		<param-value>/WEB-INF/tiles/tiles-def.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- 
  	액션클래스 return "member/memberList.tiles" 포워딩
  		웹서버
  			TilesDispatchServlet 이 tiles확장자 요청 취득
  			TilesServlet에게 tiles 확장자를 제외한 member/memberList전달
  				tiles 설정 파일에서 member/memberList의 레이아웃구성 definition을 찾아서 포워딩 처리
   -->
	<servlet>
		<servlet-name>tilesDispatch</servlet-name>
		<servlet-class>org.apache.tiles.web.util.TilesDispatchServlet</servlet-class>
	</servlet>  
	<servlet-mapping>
		<servlet-name>tilesDispatch</servlet-name>
		<url-pattern>*.tiles</url-pattern>
	</servlet-mapping>
	
	<filter>
    	<filter-name>encodingFilter</filter-name>
    	<filter-class>kr.or.ddit.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>encodingFilter</filter-name>
    	<url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    
    <filter>
    	<filter-name>fileUploadFilter</filter-name>
    	<filter-class>kr.or.ddit.filter.FileUploadFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>fileUploadFilter</filter-name>
    	<url-pattern>*.jsp</url-pattern>
    </filter-mapping>
	
</web-app>